In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()
base_data = pd.read_csv("DSP_2.csv")

In [3]:
train = pd.read_csv("DSP_2.csv")

In [4]:
print(train)

     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]

In [5]:
train.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
sex = pd.get_dummies(train['Sex'],drop_first=True)
print(sex)

     M
0    1
1    0
2    1
3    0
4    1
..  ..
913  1
914  1
915  1
916  0
917  1

[918 rows x 1 columns]

In [7]:
slope = pd.get_dummies(train['ST_Slope'],drop_first=True)
print(slope)

     Flat  Up
0       0   1
1       1   0
2       0   1
3       1   0
4       0   1
..    ...  ..
913     1   0
914     1   0
915     1   0
916     1   0
917     0   1

[918 rows x 2 columns]

In [8]:
train = pd.concat([train, sex, slope], axis=1)

In [9]:
train.isnull().any()

Age               False
Sex               False
ChestPainType     False
RestingBP         False
Cholesterol       False
FastingBS         False
RestingECG        False
MaxHR             False
ExerciseAngina    False
Oldpeak           False
ST_Slope          False
HeartDisease      False
M                 False
Flat              False
Up                False
dtype: bool

In [10]:
train.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,M,Flat,Up
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1,0,1
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1,0,1
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0,1,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1,0,1

In [11]:
train.drop(["Sex","ST_Slope"], axis=1, inplace = True)

In [12]:
exc = pd.get_dummies(train['ExerciseAngina'],drop_first=True)
print(exc)

     Y
0    0
1    0
2    0
3    1
4    0
..  ..
913  0
914  0
915  1
916  0
917  0

[918 rows x 1 columns]

In [13]:
train = pd.concat([train,exc], axis=1)

In [14]:
train.drop(["ChestPainType", "RestingECG","ExerciseAngina"], axis=1, inplace = True)

In [15]:
train.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,M,Flat,Up,Y
0,40,140,289,0,172,0.0,0,1,0,1,0
1,49,160,180,0,156,1.0,1,0,1,0,0
2,37,130,283,0,98,0.0,0,1,0,1,0
3,48,138,214,0,108,1.5,1,0,1,0,1
4,54,150,195,0,122,0.0,0,1,0,1,0

In [16]:
y = train['HeartDisease']
### x is soemhthi is everry thing but not the column we want to train so not Survived column
X = train.drop("HeartDisease", axis = 1)

In [17]:
X

     Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  M  Flat  Up  Y
0     40        140          289          0    172      0.0  1     0   1  0
1     49        160          180          0    156      1.0  0     1   0  0
2     37        130          283          0     98      0.0  1     0   1  0
3     48        138          214          0    108      1.5  0     1   0  1
4     54        150          195          0    122      0.0  1     0   1  0
..   ...        ...          ...        ...    ...      ... ..   ...  .. ..
913   45        110          264          0    132      1.2  1     1   0  0
914   68        144          193          1    141      3.4  1     1   0  0
915   57        130          131          0    115      1.2  1     1   0  1
916   57        130          236          0    174      0.0  0     1   0  0
917   38        138          175          0    173      0.0  1     0   1  0

[918 rows x 10 columns]

In [18]:
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)

In [21]:
logmodel = LogisticRegression(max_iter =400)
logmodel.fit(X_train, y_train)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=400)

In [22]:
pred = logmodel.predict(X_test)

In [23]:
pred

array([0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 0], dtype=int64)

In [24]:
from sklearn.metrics import classification_report

In [25]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.80      0.88      0.84        41
           1       0.89      0.82      0.86        51

    accuracy                           0.85        92
   macro avg       0.85      0.85      0.85        92
weighted avg       0.85      0.85      0.85        92